<table class="table table-bordered table-striped table-hover table-responsive" style="overflow-x:auto;">
  <thead>
    <tr style="text-align: center" class=bg-warning>
      <th class="alignment">Request #</th>
      <th class="alignment">Account Type</th>
      <th class="alignment">Account Number</th>
      <th class="alignment">Date</th>
      <th class="alignment"> Approve?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let checkbookrequest of checkbookrequests | filter:term" style="text-align: center">
      <td class="alignment">{{checkbookrequest.id}}</td>
      <td class="alignment">{{checkbookrequest.accType}}</td>
      <td class="alignment">{{checkbookrequest.account}}</td>
      <td class="alignment">{{checkbookrequest.date}}</td>
      <td><button (click)="confirmRequest(checkbookrequest.account)" class="btn btn-secondary">Confirm Request</button>
      </td>

    </tr>


  </tbody>
</table>