@media
only screen and (max-width: auto) {
  table, thead, tbody, th, td, tr,nav {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  th{
    text-align: center;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: 1px solid blue;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: auto;
    margin-left: auto;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "User Name"; }
  td:nth-of-type(4):before { content: "Checking Account #"; }
  td:nth-of-type(5):before { content: "Savings Account #"; }
  td:nth-of-type(6):before { content: "Enable"; }
  td:nth-of-type(7):before { content: "Disable"; }
  td:nth-of-type(8):before { content: "Entitlements"; }
  td:nth-of-type(9):before { content: "Change Entitlements"; }
 
}

  .select-selected {
    background-color: greenyellow;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid black;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid black;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: greenyellow;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: blue;
  }
